### gitignore - .config directory repo ###

# misc:
systemd
live-latex-preview
lyrics
google-chrome/
VirtualBox/
Atom/
GIMP/
enchant/
gedit/
# dunst/
htop/
htoprc
configstore
Google
abiword
gh
neofetch
sonic-pi.net
vlc

#wallpaper, lockscreen and other images:
wall.png
lock.png
larbs.png

# nvim:
nvim/colors/
nvim/plugged/
nvim/pack/
nvim/local-plugs/
nvim/autoload/
nvim/.netrwhist

# spotify:
spotify/

#mpd:
mpd/playlists/
mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/state
mpd/sticker.sql

# mutt:
mutt/

# newsboat:
newsboat/urls

# pulse:
pulse/

# dconf:
dconf
dconf/user

# FreeCad:
FreeCAD/

# QCad:
QCAD/
QtProject*

# menus:
menus/

# ncmpcpp - music player:
ncmpcpp/error.log

# vifm:
vifm/vifminfo

# bash-git-prompt:
bash-git-prompt/

# vifm history:
vifm/vifminfo

### end of .gitignore for .config/ repo ###
